<div>
    <navbar-component ></navbar-component>

    <!-- <form class="searchbar" (submit)= "searchASong()" >
        <input class= "bar" type="text" id="searchSongId" #searchSongId placeholder="Search for a song..">
        <button class="custombutton " type="submit"> <img src="../../assets/search-logo.png" width="20" height="20"/></button>
    </form> -->

    <!-- <cards-component [songs] = "allsongs"></cards-component> -->

    <!-- <div style="text-align: center; padding: 5%;">
        <a class="customNavButton" *ngIf = "id != 0" [routerLink]="['/allsongs', id>0 ? id-1 : id]" routerLinkActive="active" style="margin-right: 1%;">Precedent</a>
        <a class="customNavButton" [routerLink]="['/allsongs', id+1]" routerLinkActive="active" style="margin-left: 1%;">Suivant</a>
    </div> -->
</div>