<div>
    <navbar-component></navbar-component>

    <div class="searchbar">
        <input class= "bar" type="text" id="searchSong" placeholder="Search for a song..">
        <button class="custombutton " type="submit"> <img src="../../assets/search-logo.png" width="20" height="20"/></button>
    </div>

    <cards-component [songs] = "allsongs"></cards-component>

    <div style="text-align: center; padding: 5%;">
        <a [routerLink]="['/allsongs', id>0 ? id-1 : id]" routerLinkActive="active" style="padding: 20px;">precedent</a>
        <a [routerLink]="['/allsongs', id+1]" routerLinkActive="active" style="padding: 20px;">suivant</a>
    </div>
</div>

