<div>
    <navbar-component></navbar-component>

    <search-bar></search-bar>

    <cards-component [songs] = "allsongs"></cards-component>

    <div style="text-align: center; padding: 5%;">
        <a class="customNavButton" *ngIf = "id != 0" [routerLink]="['/allsongs', id>0 ? id-1 : id]" routerLinkActive="active" style="margin-right: 1%;">Precedent</a>
        <a class="customNavButton" *ngIf = "id <= numberOfPages" [routerLink]="['/allsongs', id+1]" routerLinkActive="active" style="margin-left: 1%;">Suivant</a>
    </div>
</div>

