.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 20% 0;
  color: black;
  background-color: #262A3E;

  &--head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--title {
    font-size: 2.5rem;
    color: white;
    line-height: 2.5rem;
  }

  &--subtitle {
    font-size: 0.8rem;
    color: white;
  }

  &--error {
    color: red;
  }
}
.button {
  width: 10rem;
}