.navigation-bar {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.25rem 0.5rem;
  height: 3rem;
  background-color: #1DB954;
  border-bottom: solid 1px black;
}

.links {
  cursor: pointer;
}