.card-song {
    text-align: center;
    display:inline-block;
    margin: 10% 2% 10% 2%;
    /* background-color: yellow; */
    transition: transform .2s; /* Animation */
    /*padding: 50px;*/
    width: 15rem;
    height: 15rem;

}

.multi_lines_text { 
    white-space: pre-line; 
}



.card-song:hover {
    transform: scale(1.1); /* (150% zoom)*/
    border-color: aquamarine;
}

.card-align {
    text-align: center;
    
}
