.home {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: black;
  height: 100%;
  padding: 5rem 0;
  background-color: #262A3E;

  &--title {
    color: white;
  }

  &--songs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}