.home {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: black;
  height: 100%;
  padding: 5rem 3rem;
  background-color: #262A3E;

  &--title {
    color: white;
  }

  &--songs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: baseline;
    gap: 2rem;
  }
}