
<div class="allthepage">
    <div class="centering">
        <h1 class="title" >Welcome to SpotiPie</h1>
            <form>
                <input class= "colorZipInput" id="myzipId" type="file" (change)="uploadFileToServer($event)" 
                    accept=".zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed">
                <button type="button" class="custombutton button-disabled" (click)= "goToHomeRoute()" 
                    [disabled]="isvalidSize && !isvalid">Submit</button>
            </form>
            <small *ngIf="!isvalidSize" class="text-danger">File size is not valid</small>
            <!-- <small *ngIf="!isvalid" class="text-danger">The zip file is not valid</small> -->
    </div>
</div>


<router-outlet></router-outlet>
